.p-header

.h-top
  border-bottom: 1px solid rgba(map-get($main-colors, grey), .2) 
  height: 60px
  
  
  &__left
    padding-top: 24px
    
    .text-icon
      font-size: 0
      
      +breakpoint(medium)
        color: #34404b
        font-size: 12px
  
  &__right
    padding-top: 23px
    line-height: 1